# Arquivos de bytecode do Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes Virtuais (Venv)
.venv/
venv/
ENV/
env/

# Arquivos de configuração de IDEs (VS Code, PyCharm)
.vscode/
.idea/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db